
<html>
    <head>
        <title>@Model.SiteName - Custom</title>
        <link href="css/site.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Custom Template!</h1>

        @RenderBody()
        
        <script type="text/JavaScript" src="scripts/site.js"></script>
    </body>
</html>
